<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проверка попадания в область</title>
    <link rel="stylesheet" href="../resources/styles/css4index.css" />
    <link rel="stylesheet" href="../resources/styles/common.css" />
     <link rel="stylesheet" href="../resources/styles/test.css" />
    <script type="text/javascript">
        (function () {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
                document.documentElement.classList.add('dark-theme');
            }
        })();
    </script>
</head>
<body>
<header>
    <div id="inform">
        <b>Леонтьев Виктор Александрович</b>
        <b>Группа P3224</b>
        <b>Вариант 412991</b>
    </div>
    <div id="buttons">
        <button class="head-button" id="thema-button">!</button>
    </div>
</header>
<main>
    <div id="main_container">
        <div id="clock-container">
            <h2>Текущее время:</h2>
            <p id="clock">Загрузка...</p>
        </div>
        <div id="button">
            <a href="../main.xhtml">Перейти к проверке точки</a>
        </div>

        <!-- Кнопка для отображения трансляции с веб-камеры -->
        <div id="bored-button">
            <button id="bored-toggle">Мне скучно</button>
        </div>

        <!-- Контейнер для трансляции с веб-камеры -->
        <div id="webcam-container" style="display:none;">
            <video id="webcam" width="100%" height="auto" autoplay="autoplay"></video>
        </div>
    </div>
    <script type="text/javascript" src="../resources/js/4index.js" defer="defer"></script>
    <script type="text/javascript" src="../resources/js/common.js" defer="defer"></script>
</main>
</body>
</html>
