body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

header {
    position: sticky;
    border-bottom: 2px solid #ddd;
    font-weight: 500;
    top: 0;
    left: 0;
    right: 0;
}

.header_table {
    border: 0 solid #000000;
    background-color: #FFF8DC;
    text-align: center;
    height: 80px;
    font-size: 24px;
    font-family: sans-serif;
    color: #333;
}

.main_table {
    color: black;
}

.main_table td {
    text-align: center;
}

#main_left1{
    height: 150px;
}

#main_right {
    width: 35%;
    height: 300px;
}

#chart_block {
    height: 290px;
    width: 290px;
    margin: 5px auto;
    /*border: 5px solid #ad9fb8;*/
    /*border-bottom: 0;*/
    /*border-top-style: solid;*/
    /*border-style: double;*/
    border-radius: 15px;
    background-color: aliceblue;
}

.head-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #095467;
    border: none;
    color: white;
    cursor: pointer;
}

#clear-button {
    width: 70px;
    border-radius: 10%;
}

.input_n {
    width: 20%;
    margin: 0 0 0 1%;
    border-radius: 7px;
    border: 1px solid #000000;
}

.check {
    margin-top: 2%;
}

#main_4_button {
    height: 40px;
    padding: 0 0 20px 0;
}

.submit_button {
    border-radius: 7px;
    border: 1px solid #000000;
    background-color: #FFF8DC;
}

.submit_button a{
    text-decoration: none;
}

.submit_button:hover {
    background-color: #e6dbb1;
    cursor: pointer;
}

.res_table {
    width: 70%;
    margin: 20px auto;
}

.res_table td {
    border: 1px solid #000000;
}

#res_table_header {
    background-color: #FFF8DC;
}

#home_button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FFF8DC;
    border-radius: 7px;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
}

#home_button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#home_button:hover {
    background-color: #e6dbb1;
    color: black;
}

.res_table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.res_table th, .res_table td {
    text-align: center;
}

#res_table4main{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#no_res {
    text-align: center;  /* Выравнивает текст по горизонтали */
    margin: 0;
}

.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme .header_table {
    background-color: #095467;
    color: #e0e0e0;
}

.dark-theme .main_table {
    color: #e0e0e0;
}

.dark-theme .submit_button {
    background-color: #095467;
    border-color: #095467;
    color: white;
}

.dark-theme .submit_button a{
    color: white;
    text-decoration: none;
}

.dark-theme .submit_button:hover {
    background-color: #074154;
    border-color: #074154;
}

.dark-theme #chart_block {
    /*border-color: #e0e0e0;*/
    background-color: rgba(9,8,20,0.94);
}

.dark-theme .res_table {
    border-color: #333;
    background-color: #777891;
}

.dark-theme .res_table thead{
    background-color: #074154;
}

.dark-theme #res_table_header {
    background-color: #095467;
    color: white;
}

.dark-theme .head-button {
    background-color: #FFF8DC;
    color: black;
}

.dark-theme #home_button {
    background-color: #095467;
    color: white;
}